@mixin text-hidden($line-clamp){
    text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:$line-clamp;
	-webkit-box-orient:vertical;
	overflow:hidden
}

@mixin img-prod-resp($padding-top){
	position: relative;
	height: auto !important; 
	width: 100%; 
	padding-top: $padding-top; 
	overflow: hidden;
	img { 
		object-fit: cover; 
		margin: auto; 
		position: absolute; 
		width: 100%; 
		height: 100%; 
		top: 0; 
		left: 0;

	}
	
}
@mixin img-prod-resp-zoom($padding-top){
	position: relative;
	height: auto !important; 
	width: 100%; 
	padding-top: $padding-top; 
	overflow: hidden;
	img { 
		object-fit: cover; 
		margin: auto; 
		position: absolute; 
		width: 100%; 
		height: 100%; 
		top: 0; 
		left: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;

	}
	&:hover{
		img{
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
	
}
@mixin btn($bgr,$after-a,$hover-bgr,$hover-color){
	a{
		padding: 15px 55px 15px 35px;
		border-radius: 30px;
		min-width:170px;
		position: relative;
		background:$bgr;
		display: inline-block;
	    text-transform:uppercase;
	    font-family: $font-all;
	    font-weight: bold;
	    color: #fff;
		&:after{
			content: "\f138";
			font-family: fontAwesome;
		    font-size: 14px;
		    margin-left: 10px;
		    padding-top: 1px;
		    position: absolute;
		    color: $after-a;
		    top: 50%;
		    -webkit-transform: translate(0,-50%);
		    -moz-transform: translate(0,-50%);
		    -o-transform: translate(0,-50%);
		    -ms-transform: translate(0,-50%);
		    transform: translate(0,-50%);
		}
		&:hover{
			background: $hover-bgr!important;
			&:after{
				color: $hover-color!important;
			}
		}
	}
}

@mixin MQ($canvas) {
	@media (max-width: $canvas) { @content; }
}
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin MQH($canvas) {
    @media (max-height: $canvas) { @content; }
}