
$color-text-all:#696969;
$color-title:#2a2a2a;
$color-white:#fff;
$color-active:#0072bc;
$color-icon:#0072bc;
$bgr-color-hd:#444646;
$bgr-hover:#fafafa;
$bgr-sec:#f5f8f2;
$color-bder:#e0e0e0;
$color-green:#0ec13d;
$black: #000;
$white: #FFF;
$red: #02ff79;
$read: #4e4e4e;
$red-dark: #02ff79;
