body.open-menu{
	padding-right:0!important;
}
body { 
	background: #fff; 
	color:$color-text-all; 
	margin:0;
	padding: 0;
	font-size: 14px;
	line-height: 1.7;
	font-family: "TT Commons";

	.Wrapper {
	    max-width: 1900px;
	    margin: 0 auto;
	    position: relative;
	}
	h1, h2, h3, h4, h5, h6{
    	line-height: 1.4;
    	color: $color-title;
	} 
	h1, h2, h3, h4, h5, h6,p{
    	margin-bottom: 0;
	}
	h1{
		font-size: 72px;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 18px;
	}
	@media (max-width: 767px) {
		h1{
			font-size: 66px;
		}
		h2{
			font-size: 28px;
		}
		h3{
			font-size: 20px;
		}
		h4{
			font-size: 18px;
		}
	}
	ul,li{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
	button,input,select,textarea{
		&:focus{
			outline: 0;
		}
	}
	a{	
		color: unset;
		text-decoration: none;
		&:hover,&:active,&:focus{
			text-decoration: none;
			color: unset;

		}
	}
	.box-btn-less-show{
			text-align: center;
		    cursor: pointer;
		    font-size: 16px;
		    color: #0072bc;
		    font-weight: 400;
		    margin:10px 0;
		    p{
		    	display: inline-block;
		    }
		    .ShowLess{
		    	display: none;
		    }
		
	}
	.back-to-top {
		position: fixed;
		bottom: -50px;
		right: -50px;
		transition: all .5s ease-out;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		width: 40px;height: 40px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px !important;
		-moz-background-clip: padding;
		background-color: $color-active;
		line-height: 50px;
		text-align: center;
		color: #fff;
		display: inline;
		z-index: 999999;
		cursor: pointer;
		a{
			display: block;
			color:#fff

		}
		&:hover{
			background: $color-green;
			color: #fff;
		}
		&:hover,&:focus{
			a{
				color: #fff;
			}
		}
		&.display{
			bottom:50px;
			right: 10px;
		}
		&.fa{
			margin-bottom: 0;
		}
	}
	.ck-editor{
		overflow: hidden;
		.ck-content{
			height: 200px;
		}
	}
	.checkbox {
	    padding-left: 20px;

	    label {
		    display: inline-block;
		    position: relative;
		    padding-left: 10px;
		    cursor: pointer;
		    &:before {
			    content: "";
			    display: inline-block;
			    position: absolute;
			    width: 17px;
			    height: 17px;
			    left: 0;
			    margin-left: -20px;
			    border: 1px solid #cccccc;
			    border-radius: 3px;
			    background-color: #fff;
			    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
			    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
			    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
			}
			&:after {
			    display: inline-block;
			    position: absolute;
			    width: 16px;
			    height: 16px;
			    left: 0;
			    top: 0;
			    margin-left: -20px;
			    padding-left: 3px;
			    padding-top: 1px;
			    font-size: 11px;
			    color: #555555; 
			}
			span{
				margin-right: 10px;
			}
		}
		input[type="checkbox"] {
		    opacity: 0; 
		}
		input[type="checkbox"]:focus + label::before {
		    outline: thin dotted;
		    outline: 5px auto -webkit-focus-ring-color;
		    outline-offset: -2px; 
		}
		input[type="checkbox"]:checked + label::after {
		    font-family: 'FontAwesome';
		    content: "\f00c"; 
		}
		input[type="checkbox"]:disabled + label {
		    opacity: 0.65; 
		}
		input[type="checkbox"]:disabled + label::before {
		    background-color: #eeeeee;
		    cursor: not-allowed; 
		}
		&.checkbox-circle label::before {
    		border-radius: 50%; 
    	}
    	&.checkbox-inline {
    		margin-top: 0; 
		}
	}
	.checkbox-success{
		input[type="checkbox"]:checked + label::before{
			background-color: #5cb85c;
	    	border-color: #5cb85c; 
		}
		input[type="checkbox"]:checked + label::after {
		    color: #fff; 
		}
	}





	.box-s-h{
	  margin: 0 auto;
	  margin-bottom: 15px;
	  max-height: 200px;
	  overflow: hidden;

	}
	.answer-s-h{
		overflow: hidden;
	}
	.more-info {
	    display: none;
	    text-align: center;
	    cursor: pointer;
	    font-size: 16px;
	    color: $color-active;
	    font-weight: 400;
	    .less{
	      display: none;
	    }
	    &:focus{
	      outline: none;
	    }
	}
	.more-info.expand{
	    .more{
	      display: none;
	    }
	    .less{
	      display: inline;
	    }
	}

	.hidden-pc{
		display: none;
		@media (max-width: 767px) {
			display: block!important;
		}
	}
	.hidden-mb{
		@media (max-width: 767px) {
			display: none!important;
		}
	}
	section{
		position: relative; 
	}
	section.banner{
		height: 375px;
		background: url("../images/img/banner.jpg");
		background-repeat: no-repeat;
	    background-position-x: 30%;
	    background-position-y: 30%;
	    .form-search{
	    	position: absolute;
	    	bottom: 10%;
	    	transform: translate(-50%,0%);
	    	left: 50%;
	    	form{
	    		position: relative;
	    		input{
	    			height: 45px;
	    			width: 450px;
	    			border-radius:50px;
	    			border:1px solid $color-bder;
	    			padding: 0 90px 0 15px;
	    			@media (max-width: 767px) {
	    				width: 300px;
	    			}
	    		}
	    		button{
	    			position: absolute;
	    			right: 0;
	    			height: 35px;
	    			width: 80px;
	    			margin: 5px 0;
	    			border-top-right-radius: 20px;
    				border-bottom-right-radius: 20px;
	    			top: 0;
	    			border: none;
	    			line-height: 0;
	    			border-left: 1px solid $color-bder;
	    			background: transparent;
	    		}
	    	}
	    }
	    @media (max-width: 767px) {
	    	height: 200px;
	    }
	}
	section.content-all{
		padding: 30px 0;

		// background: #ecf0f1;
		
		.box-content-body{
			.box-body-all{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.box-small{
					width:200px;
				}
				.box-big{
					width: calc(100% - 440px);
				}
				@media (max-width: 991px) {
					.box-big{
						width:100%;
					}
					.box-small{
						width:100%;
					}
						
				}
				
				.nav-links{
					display: flex;
					flex-wrap: wrap;
					border: none;
					li{
						position: relative;
						color: #686868;
						// padding:0 10px;
						padding-bottom: 5px;
						font-weight: 500;
						border: none;
						margin-left:10px;
						// &:hover{
						// 	color:#4b4b4b;
						// 	border-bottom:2px solid $color-green;
						// }
						a{
							padding: 5px 10px;
						}
						.active{
							border:none;
							color:#4b4b4b;
							border-bottom:2px solid #f26522;
						}
						&:hover{
							a{
								border: none;
								border-bottom:2px solid #f26522;
							}
						}
					}
					
				}

			}
			.add-ask-question{
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				width: 100%;

				a{
					display: flex;
					flex-wrap: wrap;
				    align-items: center;
				    justify-content: center;
					height: 40px;
					width: 100%;
					background: $color-active;
					text-align: center;
					color: #fff;
					// line-height: 40px;
					font-size: 16px;
					padding:0 10px;
					border-radius:20px;
					i{
						margin-left: 5px;
					}

				}
			}
			.box-menu-left{
				padding: 20px 10px;
				background: #fff;
				border:1px solid $color-bder;
				.list-links{
					li{
						margin-bottom: 15px;
						font-weight: 500;
						a{
							i{
								width: 25px;
								color: $color-title;
							}
						}
						&:hover{
							color: $color-active;
							i{
								color: $color-active;
							}
						}
						&:last-child{
							margin-bottom: 0;
						}
					}
					.active{
						color: $color-active;
						i{
							color: $color-active;
						}
					}

				}
			}
			.box-content-mid{
				.box-content-head{
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-wrap: wrap;
					// padding-bottom: 25px;
					border-bottom: 1px solid $color-bder;
					min-height: 60px;
					h3{
						font-size: 24px;
						font-weight: bold;
						color: #464646;
					}
					.box-filter{
						display: flex;
						align-items: center;
						flex-wrap: wrap;
						>p{
							margin-right: 10px;
						}
						select{
							height:35px;
							padding: 0 10px;
							border: 1px solid $color-bder; 
							color: $color-text-all;
							border-radius:5px;
						}
						.select-ctgr{
							width: 250px;
							margin-right: 15px;
						}
						.select-2{
							min-width: 90px;
						}
						@media (max-width: 767px) {
							margin-bottom: 15px;
						}
					}
					.form-search{
						position: relative;
						form{
				    		
				    		input{
				    			height: 35px;
				    			width: 300px;
				    			border-radius:20px;
				    			border:1px solid $color-bder;
				    			padding: 0 60px 0 15px;
				    			@media (max-width: 767px) {
				    				width: 300px;
				    			}
				    		}
				    		button{
				    			position: absolute;
				    			right: 0;
				    			height: 35px;
				    			width: 50px;
				    			border-top-right-radius: 20px;
			    				border-bottom-right-radius: 20px;
				    			top: 0;
				    			border: none;
				    			line-height: 0;
				    			border-left: 1px solid $color-bder;
				    			background: transparent;
				    		}
				    	}
					}
					

				}
				.frm-search{
					justify-content: flex-end;
				}
				.links-head{
					border-bottom: 1px solid $color-bder;
					
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: space-between;
					padding:20px 0; 
					ul{
						display: flex;
						flex-wrap: wrap;
						li{
							margin-right: 20px;
							padding-bottom:5px;
							position: relative;
							font-weight: 500;
							color: #828282;
							&:before{
								
								position: absolute;
								width: 100%;
								height: 2px;
								background: $color-active;
								left: 0;
								top: 100%;
							}
						}
						.active{
							&:before{
								content: "";
							}
							color: unset;
						}

					}
					.per-page{
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						p{
							margin-right: 10px;
						}
						select{
							height: 35px;
							border: 1px solid $color-bder;
							padding: 0 10px;
							border-radius: 5px;
						}
					}
				}
				.list-questions{
					.item-question{
						padding: 30px 10px;
						border-bottom: 1px solid $color-bder;
						.head-question{
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							justify-content: space-between;
							margin-bottom: 10px;
							.question{
								font-weight:600;
								display: flex;
								font-size: 22px;
								span{
									display: inline-block;
									padding: 0 15px;
									margin-right: 20px;
									border: 1px solid $color-active;
									border-radius: 5px;
									height: 20px;
									line-height: 22px;
									color: $color-active;
									font-size: 13px;
									margin-bottom: 5px;
								}

							}
							.sp{
								a{
									margin-left: 10px;
									color: #424242;
									font-size:13px;
									font-weight: 400;
								}
							}
							
						}
						.text{
							margin-bottom: 15px;
						}
						.tag{
							margin-bottom: 10px;
							span{
								display: inline-block;
								padding: 0 20px;
								height: 25px;
								line-height: 25px;
								border: 1px solid $color-bder;
								// line-height: 25px;
								font-size: 13px;
								border-radius: 20px;
								color: #828282;
								margin-bottom: 5px;
							}
						}
						.date-time-comment{
							span{
								margin-right: 15px;
								color: #8c8b8b;
								i{
									margin-right: 5px;
								}
								font-size:13px;
							}
						}
						.bottom-question{
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							.bottom-question-l{
								width: 50%;
								display: flex;
								flex-wrap: wrap;
								.box-img{
									width: 40px;
									height: 40px;
									border-radius: 50%;
									margin-right: 10px;
									overflow: hidden;


								}
								.box-info{
									width: calc(100% - 50px);
									h4{
										font-size: 14px;
										color: #5b5b5b;
										
										margin-bottom: 5px;
										a{
											margin-right: 15px;
											font-weight: 500;
										}
										span{
											color: #fff;
											height: 20px;
											line-height: 20px;
											padding: 0 10px;
											border-radius: 5px;
											font-size:12px;
											font-weight: 400;
											display: inline-block;
										}
									}
									>p{
										color: #8c8b8b;
										font-size: 13px;
										a{
											color: #0ec13d;
										}
									}
									

								}
								
							}
							.bottom-question-r{
								width: 50%;
								display: flex;
								flex-wrap: wrap;
								align-items: flex-end;
								justify-content: flex-end;
								p{
									margin-left: 30px;
									font-size: 13px;
									color: #424242;
									i{
										font-size: 14px;

										@media (min-width: 768px) {
											margin-right: 5px;
										}
									}
								}
							}
							.answer-q{
							    flex-flow: wrap-reverse;
							    a{
							    	font-size: 13px;
							    	color: #424242;
							    	font-weight: 400;
							    	margin-left: 15px;
							    }
							}
							@media (max-width: 767px) {
								.bottom-question-l{
									width: 62%;
									.box-info{
										width: calc(100% - 50px);
										
									}		
								}
								.bottom-question-r{
									width: 38%;
									p{
										margin-left: 10px;
									}
									justify-content: flex-end;
								}
							}
						}
						.box-info-question{
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							justify-content: space-between;

							.left-question{
								width:80px; 
								.up-down{
									display: flex;
    								flex-direction: column;
    								button,input{
    									width: 25px;
    									height: 25px;
    									border-radius: 50%;
    									background: #fff;
    									border: 1px solid $color-bder;
    									// border: none;
    									text-align: center;
    									margin-bottom: 5px;
    									line-height: 25px;

    								}
    								input{
										color: #fff;
										background: $color-green;
										padding-top: 5px;
									}
								}
								.ckeck{
									width: 25px;
									height: 25px;
									border-radius: 50%;
									border: 1px solid $color-bder;
									background: #fff;
									text-align: center;
									margin-bottom: 5px;
									font-size: 13px;
									line-height: 27px;
								}
								.ckeck.active{
									background: $color-green;
									color: #fff;
								}
							}

							.right-question{
								width: calc(100% - 80px);
								.bottom-question{
									margin-bottom: 10px;
								}
								.tag{
									padding: 10px 0;
									border-top: 1px solid $color-bder;
									border-bottom: 1px solid $color-bder;
								}
								.bt{
									// display: flex;
									// flex-wrap: wrap;
									// justify-content: space-between;
									>p{
										font-weight: 500;
										float: left;
									}
									>div{
										display: flex;
										flex-wrap: wrap;
										float: right;
										p{
											color: #424242;
											margin-left: 15px;
											font-size: 13px;
										}
										button{
											color: #424242;
											margin-left: 15px;
											font-size: 13px;
											border: none;
											background: none;

										}
									}
								}

							}
							@media (max-width: 767px) {
								.left-question{
									width:50px;
								}
								.right-question{
									width: calc(100% - 50px);
								}
							}
						}

						&:hover{
							background: $bgr-hover;
						}
					}
					.pag {
					    clear: both;
					    margin: 10px 0;
					    width: 100%;
					    .pagination{
					    	float: right;
					    	li{
					    		a{
					    			&:active,&:hover,&:focus{
					    				outline: 0;
					    				box-shadow: none;
					    			}
					    		}
					    		.page-link{
					    			height: 35px;
								    text-align: center;
								    line-height:35px;
								    width: 35px;
								    padding: 0;
					    		}
					    	}
					    }
					}
				}
				.detail-question{
					.item-question{
						margin-bottom: 15px;
					}
				}
				.box-answer{
					.answer-head{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: center;
						padding: 10px 0;
						.total-answers{
							font-weight: bold;
							color: #2a2a2a;
							font-size: 16px;
							>p{
								text-transform:unset;
								font-weight: 400;
								font-size:13px;
								color: #4b4b4b;
							}
						}
						

					}
					.list-questions{
						padding-left:80px;
						 .item-question{
						 	.box-info-question{
						 		.left-question{
						 			width: 50px;
						 		}
						 		.right-question{
						 			width: calc(100% - 50px);
						 		}
						 	}
						 }
						 @media (max-width: 767px) {
						 	padding-left:0;
						 }
					}
					.text-comment{
						// display: flex;
						// flex-wrap: wrap;
						// justify-content: space-around;
						margin:15px 0;
						p{
							font-weight: bold;
							font-size: 16px;

						}
						
						form{
							margin-left: 80px;
							.ck-editor{
								width: 100%;
								overflow: hidden;
								
								.ck-content{
									height: 200px;
								}
							}
							.box-btn{
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								justify-content: space-around;
								margin:15px 0;
								button{
									width: 200px;
									height: 40px;
									line-height:40px;
									text-align: center;
									border: 1px solid $color-bder;
									border-radius: 20px;
									color: #fff;
									font-weight: 500;
									background: $color-active;
									margin-bottom: 10px;
								}
								>span{
									width: calc(100% - 210px );
									font-size: 13px;
									color: #6f6f6f;
								}

							}
							@media (max-width: 767px) {
								margin-left: 0;
								.box-btn{
									>span{
										width: 100%;
									}
								}
								
							}
						}
					}
					.box-check{
						display: flex;
					    flex-flow: column;
					    padding-left: 40%;
					    border-bottom: 1px solid $color-bder;
					    margin-bottom: 15px;
					    .checkbox{
					    	label{
					    		.color{
					    			width: 17px;
					    			height: 17px;
					    			border-radius: 3px;
					    			display: inline-block;
					    		}
					    	}
					    }
					    @media (max-width: 767px) {
					    	padding-left: 0;
					    }
					}
					.numb-votes{
						width: 100%;
						text-align: right;
						font-weight: 500;
						font-size: 16px;
					}
					#Result{
						.checkbox{
							label{
								&:before{
									content:none;	
								}
							}
						}
					}
				}
				.box-categories,.box-tags,.box-users{
					.nav-links{
						padding: 10px 0;
						margin-bottom: 15px;
						li{
							&:first-child{
								margin-left: 0;
							}
						}
					}
					h4{
						font-size:30px;
						font-weight: 500;
						color: $color-active;
						margin-bottom: 15px;
					}
					.list-ctgr-sort-ab{
						.item-ctgr{
							border-bottom: 1px solid $color-bder;
							margin-bottom: 15px;
							
							ul{
								display: flex;
								flex-wrap: wrap;
								padding-bottom: 10px;
								
								// justify-content: space-between;
								li{
									margin: 0 10px;
									color: #656565;
									margin-bottom: 15px;


								}
							}
						}
					}
					.list-ctgr-all{
						ul{
							display: flex;
							flex-wrap: wrap;
							li{
								width: calc(100% / 5);
								margin-bottom: 15px;
							}
							@media (max-width: 767px) {
								li{
									width: calc(100% / 3);
								}
							}
						}
					}
					.list-tags-sort-ab,.list-tags-all{
						.item-tag{
							border-bottom: 1px solid $color-bder;
							margin-bottom: 15px;
						}
						ul{
							display: flex;
							flex-wrap: wrap;
							padding-bottom: 10px;
							li{
								width: calc(100% / 5);
								position: relative;
								margin-bottom: 15px;
								padding: 0 5px;
								color: #656565;
								a{
									border: 1px solid $color-bder;
									padding: 5px 10px;
									margin-right: 3px;
									display: inline-block;
									border-radius: 20px;

								}
								@media (min-width: 768px) and (max-width: 1200px) {
									width: calc(100% / 4);
								}

								@media (min-width: 480px) and (max-width: 767px) {
									width: calc(100% / 3);
								}
								@media (max-width: 470px) {
									width: calc(100% / 2);
								}

							}
						}
					}
					.list-users-sort-ab,.list-users-all{
						.group-users{
							border-bottom: 1px solid $color-bder;
							margin-bottom: 15px;
						}
						ul{
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							.item-user{
								width: calc((100% / 3) - 10px);
								display: flex;
								flex-wrap: wrap;
								justify-content: space-between;
								align-items: flex-start;
								padding:10px;
								// border: 1px solid $color-bder;
								margin-bottom: 20px;
							    box-shadow: 0px 0px 3px 0px #f8f8f8;
								border-radius: 5px;

								.box-img{
									@include img-prod-resp(35px);
									width: 35px;
									border-radius: 50%;
								}
								.info-r{
									width: calc(100% - 40px);
									.name{
										color: #5b5b5b;
										font-size: 15px;
										font-weight: 500;
										margin-bottom: 5px;
										@include text-hidden(1);
									}
									.location{
										color: #8c8b8b;
										font-size: 13px;
										i{
											margin-right: 5px;
										}
									}
									.position{
										    color: #fff;
										    height: 20px;
										    line-height: 20px;
										    padding: 0 10px;
										    border-radius: 5px;
										    font-size: 12px;
										    font-weight: 400;
										    display: inline-block;
										    margin-bottom: 5px;
									}
									.points{
										color: $color-active;
										font-weight: 500;
									}
								}
								@media (max-width: 767px) {
									width: calc((100% / 2) - 5px);
									margin-bottom: 10px;
								}
							}
						}
					}

				}

				.box-form-contact{
					margin: 0 100px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					
					padding: 30px 0;
					.form-group{
						width: 100%;
						label{
							margin-bottom: 0;
						}
						textarea{
							background: #f8f8f8;
						}
					}
					.box-btn{
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;
						margin:15px 0;
						width: 100%;
						border-bottom: 1px solid $color-bder;
						padding-bottom: 15px;
						button{
							width: 200px;
							height: 40px;
							line-height:40px;
							text-align: center;
							border: 1px solid $color-bder;
							border-radius: 20px;
							color: #fff;
							font-weight: 500;
							background: $color-active;
							margin-bottom: 10px;
						}
					}
					.names{
						width: calc(50% - 10px);
					}
					.box-contact-us{
						margin:0 auto;
						h4{
							text-align: center;
							margin-bottom: 15px;
							font-size: 18px;
							font-weight: 500;
						}
						p{
							font-weight: 500;
							span{
								color: #858585;
								margin-right: 10px;
							}
						}
					}
					@media (max-width: 767px) {
						margin:0;
					}

				}
				.box-profile{
					.box-info-head{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;
						align-items: center;
						padding-top:15px;
						padding-bottom: 5px;
						border-bottom: 1px solid $color-bder;
						margin-bottom: 15px;
						.box-img{

							@include img-prod-resp(120px);
							border-radius: 50%;
							width: 120px;

							
						}
						.box-name-address{
							h3{
								font-weight: bold;
								font-size:25px;
								margin-bottom: 15px;
								color: #464646;
							}
							p{
								margin-bottom: 10px;
								i{
									width: 20px;
								}
							}
						}
						.accumulation{
							.position{
							    color: #fff;
							    height: 20px;
							    line-height: 20px;
							    padding: 0 10px;
							    border-radius: 5px;
							    font-size: 12px;
							    font-weight: 400;
							    margin-bottom: 15px;
							    display: inline-block;
							
							}
							.number-star{
								font-size: 24px;
								font-weight: 500;
								color: $color-green;
								i{
									color:$color-active;
								}
							}
							@media (max-width: 767px) {
								margin-top:10px ;
								display: flex;
							    flex-wrap: wrap;
							    align-items: center;
							    width: 100%;
							    .position{
							    	margin-bottom: 0;
							    	margin-right: 10px;
							    }
							    .number-star{
							    	margin-right: 10px;
							    }
							}

						}

						.box-btn{
							width: 100%;
							text-align: right;
							button{
								border: 1px solid $color-bder;
								border:none;
								background: none;
								font-size: 16px;
								font-weight: 500;
								color: $color-active;
							    // box-shadow: 1px 2px 1px 0px grey;
    							// border-radius: 3px;
							}
						}
					}
					.detail-profile{
						.nav-links{
							li{
								&:first-child{
									margin-left: 0;
								}
							}
						}
					}
					@media (max-width: 767px) {
						.detail-profile{
							.nav-links{
								li{
									a{
										padding: 5px;
									}
								}
							}
						}
						.box-info-head{
							.box-img{
								margin-bottom: 15px;
							}
						}
					}
				}
			}
			.all-tag-links-l{
				padding: 20px 10px;
				background: #fff;
				border:1px solid $color-bder;
				.box-item{
					border-bottom: 1px solid $color-bder;
					padding-bottom: 15px;
					margin-bottom: 15px;
					.question,.members{
						margin-bottom: 15px;
						p{
							font-size: 16px;
							font-weight: 500;
							color: #2a2a2a;
						}
						.number{
							font-weight: 500;
							font-size: 24px;
							color: $color-green;
						}
					}
					
					h4{
						font-size:16px;
						font-weight: 500;
						margin-bottom: 15px;

					}
					ul{
						li{
							display: flex;
							flex-wrap: wrap;
							margin-bottom: 15px;
							padding-left:10px;
							color: #656565;
							.nb{
								width: 30px;
								// text-align: center;
								font-weight: 500;
								font-size: 14px;
							}
							.tag{
							    display: inline-block;
							    padding: 0 20px;
							    height: 25px;
							    line-height: 25px;
							    font-size: 13px;
							    border-radius: 20px;
								border:1px solid $color-bder;
								color: #828282;
							}
						}
					}
					.list-top{
						li{
						
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							span{
								i{
									margin-left: 10px;
								}
							}
							.top{
								color: #424242;
							}
						}
					}
					.seemore{
						color: $color-green;
					}
					&:last-child{
						border-bottom: none;
						margin-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
		}
		@media (max-width: 767px) {
			.box-content-body{
				.box-content-mid{
					.box-content-head{
						h3{
							margin-bottom: 15px;
						}
						.box-filter{
							.select-ctgr{
								width:180px;
								margin-right: 5px;
							}
							.select-2{
								min-width:80px;
							}
						}
						.form-search{
							margin-bottom: 15px;
						}
					}
				}
				.box-menu-left{
					padding:10px;
					margin-bottom: 15px;
				}
			}
			
			
		}
	}


	// modal
	.modal{
		.modal-header{
			.modal-title{
				font-size: 18px;
				font-weight: 500;
			}
		}
		.modal-body{
			.box-pass {
			    position: relative;
			    span{
			    	position: absolute;
			    	right: 10px;
			    	top: 10px;
			    	cursor: pointer;

			    }
			}
			.box-btn{
				text-align: center;
				button{
					min-width: 200px;
					height: 40px;
					line-height: 40px;
					background: $color-active;
					color: #fff;
					font-weight: 500;
					border-radius: 20px;
					border: 1px solid $color-bder;
					margin-bottom: 5px;
				}
				.forgot{
					font-weight: 500;
					color: #8f8f8f;
					font-size: 13px;
					cursor: pointer;
				}

			}
			.note{
				color: #8f8f8f;
				a{
					color: $color-active;
				}
			}
			.form-group{
				label{
					margin-bottom: 0;
				}
			}
			.box-add-avatar{
				text-align: center;
				position: relative;
				height: 130px;
				width: 130px;
				// border-radius: 50%;
				// overflow: hidden;
				margin:0 auto;
				margin-bottom: 15px;
				.box-img{
					// height: 125px;
					width: 125px;
					border-radius: 50%;
					@include img-prod-resp(130px);
					
				}

				
				.upload-avatar{
					position: absolute;
					bottom:0;
					right: 5px;
					input{
						opacity: 0;
						display: none;
					}
					label{
						font-size: 16px;
					    width: 25px;
					    height: 25px;
					    border-radius: 50%;
					    border: 1px solid gray;
					    color: gray;
					    text-align: center;
					    background: #fff;
					    cursor: pointer;
					}
				}
			}
		}
	}
	#edit-info{
		.nav-tabs{
			justify-content: center;
			border: none;
			margin-bottom: 20px;

			.nav-link{
				font-size: 16px;
				font-weight: 500;
				border: none;
				&:hover{
					border: none;
					color: $color-active;
				}
				
			}
			.active{
				border: none;
				color: $color-active;
			}
		}
	}
}
