



// menu



body{
    
    @include transition(all .3s ease-in-out);
    position: relative;
    left: 0;
    & .over-menu{
        @include transition(all .3s ease-in-out);
        position: fixed;
        height: 100%;
        content: '';
        width: 100%;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        background: rgba($black, .6);
        z-index: 9;
    }
    &.open-menu{
        left: -250px;
        &  .over-menu{
            visibility: visible;
            opacity: 1;
        }
        .menu-container{
            right: 0 !important;
        }
    }
}


// GENERAL SETTINGS
a{
	text-decoration: none !important;
	outline: none;
}
.hidden{
	display: none;
}
section{
	position: relative;
	width: 100%;
	float: left;
}


header{
    // @include transition(all .3s ease);
    background-color: $color-active;
    color: #fff;
    width: 100%;
    float: left;
    // position: fixed;
	position: relative;
    z-index: 10;
    // left: 0;
    // top: 0;
	&::before{
    	// @include transition(all .3s ease);
		transform-origin: 0;
    	background: #fff;
		position: absolute;
		width: 100%;
    	content: '';
		top: 0;
		right: 0;
		height: 0;
	}
	.desk-menu{
	    position: relative;
	    width: 100%;
	    float: left;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    align-items: center;
	    @media (min-width: 992px) {
	    	height: 80px;
	    }
	    .logo{
	        // position: absolute;
	        // float: left;
	        line-height: 0;
	        h1{
	        	color: #fff;
	        	font-size: 24px;
	        	a{
		        	
		        	span{
		        		color: $red;
		        	}
		            // @include transition(all 0.3s ease-in-out);
		            // background-image: url('https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png');
		            // background-position: 0;
		            // color: rgba($black, 0);
		            // background-repeat: no-repeat;
		            // background-size: contain;
		            // display: block;
		            // width: 40px;
		            // height: 40px;
		            // font-size: 0;
		        }
	        }
	        @media (min-width: 992px) {
	        	flex:1;
	        }

	    }
	        
	    
	    .box-menu{
            // @include transition(all 0.3s ease-in-out);
	        // position: relative;
	        display: block;
	        float: right;
	        text-align: center;
	        @media (min-width: 992px) {
	        	flex:2;
	        }
	    }
	    .menu-container{
		    

		    .menu-head,
			.menu-foot{
				width: 100%;
				float: left;
				display: none;
			}
			.menu-head{
				display: flex;
				order: 2;
				// background: $red-dark;
				padding: 16px 10px;
				.e1{
					padding: 3px 0;
					float: left;
					img{
						width: 29px;
						float: left;
						height: 29px;
					}
				}
				.client{
					color: #fff;
					align-items: center;
					flex-wrap: wrap;
					display: flex;
					font-size: 14px;
					margin-left: 30px;
					font-weight: 500;
					@media (min-width: 992px) {
						&:hover{
							color: $color-green;
							font-weight: 500!important;
						}
					}

					span{
						// text-transform: uppercase;
						// padding: 5px 42px 5px  0;
						position: relative;
						line-height: 100%;
						// font-size: 9px;
						display: block;
						// font-weight: bold;
					}
					i{
						margin-right: 5px;
						
					}
				}
				.manage-account{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					
					position: relative;
					.box-btn-mb{
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						cursor: pointer;
						// padding-right: 15px;

						position: relative;
						// &:after{
						// 	position: absolute;
						// 	right: 0;
						// 	top: 0;
						// 	content:"\f0d7";
						// 	font-family: fontAwesome;
						// }

					}
					.box-img{
						@include img-prod-resp(25px);
						width: 25px;
						border-radius: 50%;
						margin-right: 5px;
					}
					.name-acc{
						font-size: 14px;
						font-weight: 400;
						margin-right: 5px;
						color: #fff;
					}
					
					.show-list{
						position: absolute;
						top: 100%;
						right: 0;
						z-index: 9;
						background: #fff;
						min-width: 150px;
						padding: 15px;
						box-shadow: 0px 0px 3px 0px #aeaeae;
						color: $color-text-all;
						display: none;
						@media (max-width: 991px) {
							right: unset;
							left: 0;
							li{
								a{
									color: $color-text-all!important;
								}
							}
						}
						
						li{
							padding: 5px;
						}

					}
					@media(min-width: 992px){
						&:hover{
							.show-list{
								display: block;
								transition: .5s;
								li{
									&:hover{
										background: $color-active;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
			.menu-foot{
				position: absolute;
				bottom: 0;
				padding: 15px 0;
			    .social{
				    display: flex;
				    flex-wrap: wrap;
				    align-items: center;
				    justify-content: center;
			        a{
			            // @include transition(all 0.3s ease-in-out);
			            // display: inline-block;
			            position: relative;
						margin: 0 5px 0 0;
			            color: #fff;
			            font-size: 13px;
			            text-align: center;
			            padding: 5px 0;
			            border-radius: 50%;
			            background: #797c82;
			            width: 29px;
			            height: 29px;
			            &:last-child{
			                margin: 0;
			            }
			            &:hover{
			                background: #a4a7ac;
			            }
			        }
			    }
			    hr{
					margin: 15px auto 20px;
					display: table;
					width: calc(100% - 20px);
			    }
			    address{
					text-align: left;
				    padding: 0 15px;
				    margin: 0;
				    color: $color-text-all;
				    i{
				    	position: absolute;
				    	left: 0;
				    	top: 0;
				    }
				    span{
						padding: 0 0 0 20px;
				    	position: relative;
						margin-bottom: 5px;
						font-size: 12px;
						display: block;
				    }
			    }
			}
		    .menu{
		        float: left;
		        padding:0;
		        margin: 0 20px 0 0;
		        list-style: none;
		        position: relative;
		        // @include transition(all 0.3s ease-in-out);
				li{
					&.back{
						display: none;
					}

				}
		        & > li{
		            // @include transition(all .33s ease);
		            margin: 0 0 0 10px;
		            float: left;
		            cursor: pointer;
		            position: relative;
		            overflow: inherit;
		            
		            a{
		                position: relative;
		                // text-transform: uppercase;
		                font-size: 14px;
		                padding:10px 8px;
		                display: block;
		                font-weight: bold;
		                color: #fff;
		                border-bottom: 2px solid transparent;
		                
		                // font-weight: bold;
		            }
		            &.menu-item-has-children{
		                & > a{
		                    padding: 10px 30px 10px 8px;
		                    position: relative;
		                    &::before,
		                    &::after{
		                        @include transition(all 0.3s ease-in-out);
		                        background-color: #fff;
		                        position: absolute;
		                        content: '';
		                        height: 1px;
		                        width: 7px;
		                        top: 22px;
		                    }
		                    &::before{
		                        @include transform(rotate(45deg));
		                        right: 10px;
		                    }
		                    &::after{
		                        @include transform(rotate(-45deg));
		                        right: 6px;
		                    }
		                }
		                .sub-menu{
		                    box-shadow: 1px 2px 4px rgba(46,61,73,0.2);
		                    // @include transition(all .1s ease-in-out);
		                    -webkit-overflow-scrolling: touch;
		                    min-width: 200px;
		                    position: absolute;
		                    list-style: none;
		                    background: #fff;
		                    padding: 0;
		                    float: left;
		                    display: table;
		                    left: 0;
		                    width: 100%;
		                    float: left;
		                    display: none;
		                    li{
		                        width: 100%;
		                        @include transition(all .33s ease);
		                        & > a{
		                            color: $read;
    								padding: 12px;
		                        }
		                        .sub-menu{
		                        	display: none;
		                        }
		            			&.menu-item-has-children{
			                        & > a{
					                    &::before,
					                    &::after{
					                        @include transition(all 0.3s ease-in-out);
					                        background-color: $read;
					                        position: absolute;
					                        content: '';
					                        height: 1px;
					                        width: 7px;
					                        top: 24px;
					                    }
					                    &::before{
					                        transform: rotate(45deg);
											right: 6px;
											top: 19px;
					                    }
					                    &::after{
					                        transform: rotate(-45deg);
					                        right: 6px;
					                        top: 23px;
					                    }
					                }
			                        &:hover{
			                            // background: lighten($black, 10%);
			                            & > a{
			                                display: block;
			                            }
					                    .sub-menu{
					                    	display: block;
					                    }
			                        }
			                    }
			                    &:hover{
			                    	& > a{
					                    // color: #fff;
    									background-color: #fff;
    									&::before{
    										@include transform(rotate(142deg));
    										top: 23px;
    									}
    									&::after{
    										@include transform(rotate(42deg));
    										right: 11px;
    									}
			                    	}
			                    }
		                    }
		                    .sub-menu{
		                        left: 100%;
		                        margin-top: -43px;
		                        
		                    }
		                }
		                a{
		                    text-align: left;
		                    &:hover{
		                        margin-top: 0;
		                    }
		                }
		            }
		            &:hover{
		                & > a{
		                    color: #fff;
		                    font-weight: bold;
		                    @media (min-width: 992px) {
		                    	border-bottom: 2px solid #f26522;
		                    }

		                    &::before{
								@include transform(translateX(5px) rotate(-45deg));
								width: 10px;
								right: 12px;
		                    }
		                    &::after{
		                    	@include transform(rotate(45deg));
								width: 10px;
								right: 7px;
		                    }
		                }
		                &.menu-item-has-children{
		                	.sub-menu{
		                		display: block;
		                	}
		                }
		            }
		            @media (min-width: 992px) {
		            	&.active{
			            	>a{
			            		border-bottom: 2px solid #f26522;
			            		font-weight: bold;
			            	}
			            }
		            }
		        }
		    }
		    @media (min-width: 992px) {
		    	display: flex;
		    	flex-wrap: wrap;
		    	align-items: center;
		    	justify-content: space-between;
		    	.menu-head{
					width: unset!important;
					flex: 1;
					justify-content: flex-end;
					.client{
						&:hover{
							font-weight: bold;
						}
					}
				}
				.menu-header-container{
	            	flex: 2;
	            	// border-right:1px solid $color-bder;

		        }
		    }
		}
	}

	.hamburger-menu {
	    display: none;
	}

    // fixed
    &.fixed{
        // @include transition(all 0.3s ease-in-out);
        position: fixed;
        top: 0;
        &::before{
        	// box-shadow: 0px 5px 25px 0 rgba(46,61,73,.2);
			// @include transform(scaleY(1));
        	// height: 100%;
        }
        .desk-menu{
            .box-menu .cd-header-buttons{
                // top: 19px;
            }

			.menu-container{
				.menu{
					& > li{
						&.menu-item-has-children{
							& > a{

								&::before,
					            &::after{
					            	// background-color: $read;
					            }
					        }
					    }
					}
				}
			}
            .logo-adn{
                // padding: 10px 0;
                a{
	       //      	background-image: url('https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png');
        //             height: 30px;
    				// width: 140px;
                }
            }
            .box-menu{
    			padding: 0;
                ul{
                    // margin: 10.5px 0;
                    li{
                    	a{
	                        // color: $read;
                    	}
                    }
                }
            }
        }
    }

    @include MQ(991px) {
   	    // height: 60px;

		// EFFECT RESPONSIVE MENU
		// Parte do efeito de abertura do menu está no asrquivo _style.scss logo nas primeiras linhas
	    .hamburger-menu {
    		@include transition(all .3s ease);
	        display: block;
	       
	        width: 40px;
	        height: 40px;
	        cursor: pointer;
	        // right: 0;
	        z-index: 11;
	        span{
	            text-transform: uppercase;
	            left: calc(-100% + -5px);
	            padding: 8px 9px 8px 0;
	            top: calc(50% - 18px);
	            position: absolute;
	            font-size: 13px;
	            color: #fff;
	        }
	        .bar,
	        .bar::after,
	        .bar::before {
	            width: 35px;
	            height: 3px;
	        }
	        .bar {
	            position: relative;
	            @include transform(translateY(25px));
	            @include transition(all .1s ease);
	            background: #fff;
	            top: -7px;
	             border-radius: 5px;
	            &::before,
	            &::after {
	                position: absolute;
	                background: #fff;
	                content: '';
	                left: 0;
	                border-radius: 5px;
	            }
	            &::before {
	                bottom: 10px;
	                @include transition(bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1));
	            }
	            &::after {
	                top: 10px;
	                @include transition(top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1));
	            }
	            &.animate {
	                background: rgba(#fff, 0);
	                &::after {
						background: #fff;
	                    top: 0;
	                    @include transform(rotate(45deg));
	                    @include transition(top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1));
	                }
	                &::before {
						background: #fff;			
	                    bottom: 0;
	                    @include transform(rotate(-45deg));
	                    @include transition(bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1));
	                }
	            }
	        }
	    }
	    // END EFFECT RESPONSIVE MENU


	    .desk-menu{
	    	height: 50px;
	    	.box-menu{
	    	 	ul{
	    	 	 	li{
	    	 	 	 	a{
	    	 	 	 		color: #fff !important;
	    	 	 	 		border-bottom: 1px solid #eaeaea;
	    	 	 	 	}
	    	 	 	}
	    	 	}
	    	}
	    	.menu-container{
		        @include transition(all .3s ease-in-out);
		        background: #fff;
		        position: fixed;
		        height: 100%;
		        width: 250px;
		        right: -250px;
		        top: 0;
		        .menu-header-container{
					position: relative;
		            float: left;
		            ul{
						padding: 10px !important;
		            }
		            
		        }
				.menu{
					margin: 0;
					li{
						&.back{
							position: relative;
							display: block;
							a{
								padding: 12px 12px 12px 35px !important;
								&::before,
								&::after{
									background-color: $read;
									position: absolute;
									content: '';
									height: 2px;
									width: 7px;
									top: 23px;
								}
								&::before{
								    @include transform(rotate(-45deg) !important);
								    top: 20px !important;
								    right: inherit !important;
								    left: 15px !important;
    							}
    							&::after{
								    @include transform(rotate(45deg) !important);
								    top: 24px !important;
								    left: 15px !important;
    							}
							}
						}
						&.line{
							display: none !important;
						}
					}
					& > li{
						width: 100%;
						float: left;
						margin: 0;
						text-align: left;
						a{
						    padding: 12px;
						    color: $read !important;

						}
						&.menu-item-has-children{
							position: initial;
							a{
								padding: 12px;
								&::before,
								&::after {
									background: $read;
								}
								&::before {
									right: 6px !important;
    								top: 16px !important;
    								width: 7px !important;
								}
								&::after {
								    top: 21px !important;
								    width: 7px !important;
								}
							}
							.sub-menu{
								box-shadow: none;
						        @include transition(all .3s ease-in-out);
								display: block !important;
								background: #fff;
							    z-index: 1;
							    top: 0;
							    left: 100%;
							    height: 100%;
							    .sub-menu{
									margin-top: 0;
							    }
							    &.open-sub{
								    left: 0%;
							    }
							    li{
							    	&.menu-item-has-children{
							    		& > a{
							    			&::before,
							    			&::after{
											    background-color: $read;
							    			}
											&::before {
												@include transform(rotate(45deg) !important);
												right: 6px !important;
			    								top: 22px !important;
												width: 7px !important;
											}
											&::after {
				 								@include transform(rotate(-45deg) !important);
											    right: 6px !important;
											    top: 26px !important;
												width: 7px !important;
											}
							    		}
							    	}
							    }
							}
						}
						&:hover{
							a{
								&:before{
									@include transform(rotate(45deg));
									right: 6px;
    								top: 22px;
								}
								&::after{
									@include transform(rotate(-45deg));
									right: 6px;
									top: 26px;
								}
							}
						}
					}
				}
			    .menu-head{
					display: flex;
				    flex-wrap: wrap;
				    justify-content: space-between;
				    align-items: center;
				    background: #797c82;
				    height: 50px;
				    .client{
				    	margin-left:0;
				    }
			    }
				.menu-foot{
					display: block;
				}
	    	}
	    }
	    &.fixed{
	    	.hamburger-menu {
	    		top: 31px;
	    		span{
	            	color: #fff;
				}
				.bar {
            		background: #fff;
					&::before,
					&::after{
            			background: #fff;
					}
					&.animate {
	                	background: rgba(#fff, 0);
	                }
				}
	    	}
	    }
    }
    @include MQ(767px) {
    	.desk-menu{
    		.menu-container{
    		 	.menu{
    		 		li{
    		 		 	a{
    		 		 		padding: 8px 12px;
    		 		 	}
    		 		 	&.back{
    		 		 		a{
    							padding: 8px 12px 8px 35px !important;
    							&::before{
								    top: 15px !important;
								}
								&::after {
								    top: 19px !important;
								}
    		 		 		}
    		 		 	}
    		 		}
    		 		&>li{
    		 			&.menu-item-has-children{
    		 				a{
    		 		 			padding: 8px 12px;
								&::before {
								    top: 18px;
 			 	 				}
 			 	 				&::after {
								    top: 22px;
								}
    		 				}
    		 			 	.sub-menu{
    		 			 	 	li{
    		 			 	 		&>a{
    		 		 					padding: 8px 12px;
    		 			 	 		}
    		 			 	 		&.menu-item-has-children{
    		 			 	 			&>a{
    		 			 	 				&::before {
											    top: 18px;
    		 			 	 				}
    		 			 	 				&::after {
											    top: 22px;
											}
    		 			 	 			}
    		 			 	 		}
    		 			 	 	}
    		 			 	}
    		 			}
    		 		}
    		 	}
    		}
    	}
    }
    @include MQ(481px) {
    	.desk-menu{
    	 	.logo-adn{
    	 	 	a{
				    width: 100px;
				    height: 30px;
    	 	 	}
    	 	}
    	}
		.hamburger-menu{
			
	        .bar,
	        .bar::after,
	        .bar::before{
			    width: 30px;
			    height: 4px;
			    border-radius:5px;
			}
			.bar{
				&::before{
					bottom: 9px;
				}
				&::after{
    				top: 9px;
				}
			}
		}
		&.fixed{
			.desk-menu{
				.logo-adn{
					a{
						width: 100px;
						height: 30px;
					}
				}
			}
		}
    }
    @include MQH(550px) {
		.desk-menu{
		 	.menu-container{
		 	 	.menu-foot{
		 	 	 	hr,
		 	 	 	address{
		 	 	 		display: none;
		 	 	 	}
		 	 	}
		 	}
		}
	}
}


.resize-message{
    margin: 40vh auto 0;
    display: table;
}
.resize-message span{
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #666;
}
.resize-message span i{
    font-size: 30px;
}

.author{
	position: fixed;
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 30px 15px 15px;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(54%, rgba(0,0,0,0.54)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 54%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	a{

		font-size: 16px;
		display: table;
		margin: 0 auto;
		text-decoration: none;
		color: #fff;
		font-weight: 700;
		span{
			color: $red;
		}
	}
}