footer#footer {
    border-top: 1px solid #ebebeb;
    width: 100%;
    float: left;
    padding: 20px 0px;
    .main_footer {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    p {
	    	color: black;
    		font-size: 16px;
    		a {
    			color: #0072bc;
    		}
	    }
	    ul {
	    	li {
	    		display: inline-block;
	    		list-style: none;
	    		a {
	    			color: #0072bc;
				    font-size: 18px;
				    padding: 0px 8px;
				    display: inline-block;
	    		}
	    	}
	    }
	}
}



#ask_question {
	.modal-header {
		ul {
			li {
				a {
					color: #757575;
				    font-size: 16px;
				    padding: 0;
				    border-radius: 0;
				    padding: 0px 10px;
				}
				a.active {
					color: #5a5a5a;
				    background: none;
				    border-bottom: 2px solid #f26522;
				    font-weight: 700;
				}
			}
		}
	}
	.modal-body {
		.ck_editor {
		    margin-bottom: 1rem;
		    .ck-content {
			    height: 160px;
			}
		}
		.more_answer {
		    margin-bottom: 1rem;
		    button.add_more {
			    background: #0072bc;
			    border: 0;
			    color: white;
			    border-radius: 4px;
			    font-size: 16px;
			    padding: 10px 11px;
			    display: inline-flex;
			    align-items: center;
			    margin-right: 5px;
			}
			span {
				color: #707070;
    			font-size: 16px;
			}
		}
		.custom-control {
		    margin-bottom: 1rem;
		}
		label.custom-control-label {
		    line-height: 1.9;
		}
		.form-sent {
		    text-align: center;
		    margin-bottom: 10px;
		    button {
		    	background: #0072bc;
			    border: 0;
			    border-radius: 50px;
			    color: white;
			    font-weight: 500;
			    padding: 8px 46px;
			    font-size: 15px;
		    }
		}
	}
}

.title_all {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3  {
    	color: #464646;
	    font-size: 28px;
	    font-weight: 800;
    }
    .form_seach {
    	.form_group {
		    border: 1px solid #e0e0e0;
		    border-radius: 50px;
		    background: white;
		    padding: 5px;
		    display: flex;
    		align-items: center;
    		input {
			    background: none;
			    border: none;
			    font-size: 17px;
			    padding: 6px;
			    border-right: 1px solid #e0e0e0;
			    width: 100%;
			    line-height: 1.4;
			}
			button {
			    background: 0;
			    border: 0;
			    padding: 7px 11px;
			    font-size: 15px;
			    line-height: 1.1;
			}
		}
    }
}

.form_color {
    position: relative;
    margin-bottom: 15px;
    input.form-control {
	    padding-right: 40px;
	}
    input.color_custom {
	    position: absolute;
	    right: 3px;
	    top: 50%;
	    transform: translateY(-50%);
	    z-index: 3;
	    background: 0;
	    border: 0;
	    width: 33px;
	    height: 33px;
	}
}

.comment_chat {
    padding: 0px 0px 40px;
    // border-top: 1px solid #e0e0e0;
    span.number {
	    color: #2f2f2f;
	    font-weight: 700;
	    font-size: 17px;
	    margin-bottom: 10px;
	    display: block;
	}
	.media {
	    padding: 15px 0px 15px;
	    border-bottom: 1px solid #e0e0e0;
	    position: relative;
	    .btn_delete_chat {
		    background: 0;
		    border: 0;
		    font-size: 18px;
		    color: #454545;
		    position: absolute;
		    z-index: 3;
		    right: 0;
		    top: 13px;
    		line-height: 1.1;
		}
		p {
			font-size: 14px;
		    line-height: 1.4;
		    color: #787878;
		}
	}
	.post_message {
	    padding-top: 20px;
	    textarea {
		    height: 165px;
		    resize: none;
		}
		.form_sent {
		    margin-top: 30px;
		    display: flex;
    		align-items: center;
		    .sent_btn {
			    background: #0072bc;
			    border: 0;
			    color: white;
			    border-radius: 50px;
			    padding: 13px 50px;
			    line-height: 1.4;
			    font-size: 16px;
			    font-weight: 500;
			}
			span {
				color: #6f6f6f;
			    font-size: 14px;
			    margin-left: 15px;
			}
		}
	}
}

/* about us */

.main_info_repeat {
	.content {
	    padding: 30px;
	    border-bottom: 1px solid $color-bder;
	    margin-bottom: 15px;
	    h4 {
	    	color: black;
		    font-size: 20px;
		    font-weight: 600;
		    margin-bottom: 15px;
	    }
	    p {
		    color: #828282;
		    font-size: 17px;
		    margin-bottom: 10px;
		    img {
			    max-width: 100%;
			    display: block;
			    margin: 0 auto;
			    margin-bottom: 15px;
			}
		}
	}
}

/* end about us */

/* QA - badges */

.main_info_repeat {
	.board_badges {
		h6 {
			color: #333333;
		    font-size: 18px;
		    font-weight: 600;
		    line-height: 1.1;
		}
		p {
			color: #6f6f6f;
    		font-size: 16px;
		}
		.board_statis {
		    padding: 15px 0px 40px;
		    border-bottom: 1px solid #e0e0e0;
		    ul {
			    display: flex;
			    padding-top: 40px;
			    flex-wrap: wrap;
			    justify-content: space-between;
			    li {
				    width: 25%;
				    border-right: 1px solid #d7d7d7;
				    padding: 10px 15px;
				    text-align: center;
				    &:last-child {
				    	border-right: 0;
				    }
				    span {
				    	color: #0ec13d;
					    font-weight: bolder;
					    font-size: 36px;
					    line-height: 1.1;
					    display: block;
    					text-align: left;
					    i {
					    	color: #0072bc;
    						font-size: 18px;
					    }
				    }
			    }
			}
		}
		.list_board_badges {
		    padding: 20px 0px 44px;
		    > p {
		    	margin-bottom: 30px;
		    }
		}
	}
}

.badges_box {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0px;
    .left_info {
	    width: 25%;
	    border: 1px solid #e0e0e0;
	    text-align: center;
	    padding: 20px 10px;
	    span.badge {
		    display: inline-block;
		    font-size: 14px;
		    font-weight: 500;
		    line-height: 1.7;
		    padding: 2px 15px;
		    margin-bottom: 10px;
		}
		span.number_star {
		    display: block;
		    color: #0ec13d;
		    font-size: 24px;
		    font-weight: 500;
		    line-height: 1.1;
		    i {
		    	color: #0072bc;
    			font-size: 18px;
		    }
		}
	}
	.right_info {
	    width: 75%;
	    padding-left: 40px;
	    span {
	    	color: #525252;
		    font-weight: 700;
		    font-size: 17px;
	    }
	    ul {
	    	li {
	    		list-style: none;
	    		font-size: 16px;
    			color: #878787;
    			i {
    				margin-right: 3px;
    			}
    			i.fa.fa-check {
				    color: #10c13f;
				}
				i.fa.fa-ban {
				    color: #db643b;
				}
	    	}
	    }
	}
}


/* end QA - badges */

/* blog */

.list_blog {
	.box_blog {
	    padding: 30px 10px;
	    display: flex;
	    flex-wrap: wrap;
	    border-bottom: 1px solid #e0e0e0;
	    &:hover {
	    	background: #fafafa;
	    }
	    .images {
		    width: 30%;
		}
		.title {
		    width: 70%;
		    padding-left: 30px;
		    h4 {
		    	font-size: 17px;
    			margin-bottom: 6px;
		    }
		    p {
		    	color: #787878;
			    font-size: 16px;
			    line-height: 1.3;
			    margin-bottom: 10px;
		    }
		    .more {
			    display: flex;
			    justify-content: space-between;
			    flex-wrap: wrap;
			    align-items: flex-end;
			    span.author_post {
				    color: #545454;
				    display: block;
				    font-weight: 500;
				    font-size: 16px;
				    line-height: 1.1;
				}
				span {
					color: #4f4f4f;
				}
			}
		}
	}
}

/* end blog */

@media screen and (max-width: 575px) {
	.main_info_repeat .board_badges .board_statis ul li {
	    width: 100%;
	    border-right: 0;
	    padding: 10px 15px;
	    text-align: center;
	}
	.main_info_repeat .board_badges .board_statis ul li span {
		text-align: center;
	}
	.main_info_repeat .board_badges .board_statis ul {
	    padding-top: 10px;
	}
	.main_info_repeat .board_badges .list_board_badges > p {
	    margin-bottom: 0px;
	}
	.badges_box .left_info {
	    width: 50%;
	    margin-bottom: 10px;
	}
	.badges_box .right_info {
	    width: 100%;
	    padding-left: 0;
	}
	footer#footer .main_footer {
	    justify-content: center;
	    flex-wrap: wrap;
	}
	.comment_chat .post_message .form_sent {
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.comment_chat .post_message .form_sent span {
	    margin-left: 0;
	    margin-top: 10px;
	}
	.list_blog .box_blog .images {
	    width: 100%;
	    margin-bottom: 15px;
	}
	.list_blog .box_blog .title {
	    width: 100%;
	    padding-left: 0;
	}
}